// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: sans-serif;
  background-color: hsla(194%, 31%, 84%, 1);
  text-decoration: none;
  list-style-type: square;
  margin: 0 auto;
  border: 0;
  padding: 0;
}
body {
  width: 70%;
  padding: 40px 0px;
}

table {
  border: 3px solid black;
}

th {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  background-color: whitesmoke;
}

input,
textarea {
  background: white;
}

header {
  text-align: right;
}

.right {
  text-align: right;
}

#hootbox {
  width: 400px;
  height: 28px;
}

input[type="submit"] {
  height: 28px;
  width: 54px;
  font-size: 12px;
}
